#location {
  background-color: $light-brown;

  .container {

    .row {
      .copy {
        text-align: center;

        h5 {
          color: $black;
        }

        p {
          color: $black;
          padding-bottom: 25px;
        }

        img {
          width: 50%;
          height: auto;
          margin: 0 auto;
          display: block;
          margin-top: 25px;
        }
      }
    }

    .copy-container {
      position: relative;
      top: -50px;
    }

    .mosaic {
      position: relative;
      top: -160px;

      .left {
        img:nth-child(1) {
          width: 56%;
          height: auto;
          position: relative;
          left: 105px;
          top: 45px;
        }

        img:nth-child(2) {
          width: 10%;
          height: auto;
          position: relative;
          left: -100px;
          top: 265px;
        }
      }

      .right {
        img:nth-child(1) {
          width: 90%;
          height: auto;
          position: relative;
          left: -75px;
          top: 100px;
        }
      }
    }
  }

  .img-low {
    img {
      width: 50%;
      height: auto;
      display: block;
      margin-top: 50px;
    }
  }
}
