@font-face {
    font-family: 'nemek_gothicblack';
    src: url('../fonts/nemek_gothic-webfont.woff2') format('woff2'),
         url('../fonts/nemek_gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
